/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

div.card-header {
    font-size: large;
}

div.card {
    margin-top: 10px;
    font-size: small;
}

.table {
    margin-top: 10px;
    font-size: small;
}




